<p id="notice"><%= notice %></p>

<div class="all_heading">Plantish Community</div>


<div class="comunity_container">



      <% @profiles.each do |profile| %>
       <div class="one_member">
         <div class="one_member_picture">
          <%= image_tag(profile.picture, width: 200, height: 200) if profile.picture.attached? %><br />
         </div>
         <div class="one_member_description">
            Name: <%= profile.first_name %> <br />
          <% if profile.state.present? %>
              State: <%= profile.state  %>
           <% else  %>
              State: Not Added
          <% end %><br />
            Postcode: <%= profile.postcode %><br/>
         </div>
         <%= link_to 'View Products', sellers_product_list_path(profile.user) %>
       </div>

      <% end %>



</div>


<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>First name</th>-->
<!--      <th>Last name</th>-->
<!--      <th>Abn</th>-->
<!--      <th>Address</th>-->
<!--      <th>State</th>-->
<!--      <th>Postcode</th>-->
<!--      <th>Mobile number</th>-->
<!--      <th>User</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @profiles.each do |profile| %>
<!--      <tr>-->
<!--        <td><%#= profile.first_name %></td>-->
<!--        <td><%#= profile.last_name %></td>-->
<!--        <td><%#= profile.abn %></td>-->
<!--        <td><%#= profile.address %></td>-->
<!--        <td><%#= profile.state %></td>-->
<!--        <td><%#= profile.postcode %></td>-->
<!--        <td><%#= profile.mobile_number %></td>-->
<!--        <td><%#= profile.user_id %></td>-->
<!--        <td><%#= link_to 'Show', profile %></td>-->
<!--        <td><%#= link_to 'Edit', edit_profile_path(profile) %></td>-->
<!--        <td><%#= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->


