<!--<p id="notice"><%#= notice %></p>-->

<div class="my_profile_container">
  <div class="my_profile_box" id="profile_picture">
    <%= image_tag(@profile.picture, width: 200, height: 200) if @profile.picture.attached? %>

  </div>

  <div class="my_profile_box" id="profile_description">


    <div class="profile_description_box">
      <p>
        <strong>First name:</strong>
        <% if @profile.first_name.present? %>
          <%= @profile.first_name %>
        <% else %>
          First Name Required
        <% end %>
      </p>

      <p>
        <strong>Last name:</strong>
        <% if @profile.last_name.present? %>
          <%= @profile.last_name %>
        <% else %>
          Last Name Required
        <% end %>
      </p>

      <p>
        <strong>ABN: </strong>
        <% if @profile.abn.present? %>
          <%= @profile.abn %>
        <% else %>
          ABN Required
        <% end %>
      </p>
    </div>

    <div class="profile_description_box">

      <p>
        <strong>Address:</strong>
        <% if @profile.address.present? %>
          <%= @profile.address %>
        <% else %>
          Address Required
        <% end %>
      </p>

      <p>
       <strong>State:</strong>
        <% if @profile.state.present? %>
          <%= @profile.state %>
        <% else %>
          State Required
        <% end %>
      </p>

      <p>
       <strong>Suburb:</strong>

        <% if @profile.suburb.present? %>
          <%= @profile.suburb %>
        <% else %>
          Suburb Required
        <% end %>
      </p>


      <p>

        <strong>Postcode:</strong>
        <% if @profile.postcode.present? %>

          <%= @profile.postcode %>
        <% else %>
          Postcode Required
        <% end %>
      </p>



      <p>
        <strong>Mobile number:</strong>
        <% if @profile.mobile_number.present? %>

          <%= @profile.mobile_number %>
        <% else %>
          Mobile number required
        <% end %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @current_user.email %>
      </p>
    </div>
    <p>
<!--  <strong>User:</strong>-->
      <% @profile.user_id %>
    </p>

  </div>
</div>
<%= link_to 'Edit Profile', edit_profile_path(@profile), class:'edit_button' %>



