<p id="notice"><%= notice %></p>

<%= image_tag(@profile.picture, width: 200) if @profile.picture.attached? %>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Abn:</strong>
  <%= @profile.abn %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @profile.mobile_number %>
</p>

<p>
<!--  <strong>User:</strong>-->
  <% @profile.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>

