<!--<p id="notice"><%#= notice %></p>-->

<div class="my_profile_container">
  <div class="my_profile_box" id="profile_picture">
    <%= image_tag(@profile.picture, width: 200) if @profile.picture.attached? %>

  </div>

  <div class="my_profile_box" id="profile_description">


    <div class="profile_description_box">
      <p>
        <strong>First name:</strong>
        <%= @profile.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @profile.last_name %>
      </p>

      <p>
        <strong>Abn:</strong>
        <%= @profile.abn %>
      </p>
    </div>

    <div class="profile_description_box">

      <p>
        <strong>Address:</strong>
        <%= @profile.address %>
      </p>

      <p>
       <strong>State:</strong>
       <%= @profile.state %>
      </p>

      <p>
       <strong>Postcode:</strong>
       <%= @profile.postcode %>
      </p>

      <p>
        <strong>Mobile number:</strong>
        <%= @profile.mobile_number %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @current_user.email %>
      </p>
    </div>
    <p>
<!--  <strong>User:</strong>-->
      <% @profile.user_id %>
    </p>

  </div>
</div>
<%= link_to 'Edit Profile', edit_profile_path(@profile), class:'edit_button' %>


