
<%= render 'shared/banner' %>
<h1>Our Categories</h1>
<div class="all_categories">

  <div class="category_box_line">

    <div class="one_category">
      <a href="/categories/seeds">
        <%= image_tag 'category_seed.jpg', class: 'one_category' %><br />
        <p>Seeds</p>
      </a>
    </div>
    <div class="one_category">
      <a href="/categories/seedlings">
        <%= image_tag 'category_seedling.jpg', class: 'one_category' %><br />
        <p>Seedlings</p>
      </a>
    </div>
    <div class="one_category">
      <a href="/categories/smallplants">
        <%= image_tag 'category_smallplant.jpg', class: 'one_category' %><br />
        <p>Small Plants</p>
      </a>
    </div>
  </div>

  <div class="category_box_line">

    <div class="one_category">
      <a href="/categories/succulents">
        <%= image_tag 'category_succulent.jpg', class: 'one_category' %><br />
        <p>Succulents</p>
      </a>

    </div>
    <div class="one_category">
      <a href="/categories/vegetables">
        <%= image_tag 'category_vegetable.jpg', class: 'one_category' %><br />
        <p>Vegetables</p>
      </a>
    </div>
    <div class="one_category">
      <a href="/categories/indoorplants">
        <%= image_tag 'category_indoorplant.jpg', class: 'one_category' %><br />
        <p>Indoor Plants</p>
      </a>
    </div>

  </div>

  <div class="category_box_line">

    <div class="one_category">
      <a href="/categories/flowers">
        <%= image_tag 'category_flower.jpg', class: 'one_category' %><br />
        <p>Flowers</p>
      </a>
    </div>
    <div class="one_category">
      <a href="/categories/fruits">
        <%= image_tag 'category_fruit.jpg', class: 'one_category' %><br />
        <p>fruits</p>
      </a>

    </div>
    <div class="one_category">
      <a href="/categories/terrariums">
        <%= image_tag 'category_terrarium.jpg', class: 'one_category' %><br />
        <p>Terrariums</p>
      </a>

    </div>

    <div class="category_box_line">

      <div class="one_category">
      </div>

      <div class="one_category">
        <a href="/categories/gardentools">
          <%= image_tag 'category_gardentool.jpg', class: 'one_category' %><br />
          <p>Garden Tools</p>
        </a>
      </div>

      <div class="one_category">
      </div>
    </div>



  </div>

</div>