<% if @user.present? %>
  <%= form_with(model: @cart, local: true) do |form| %>


    <div class="field" style="visibility: hidden">
      <%= form.label :product_id %>
      <%= form.text_field :product_id, :value => @product.id %>
    </div>

    <div class="actions">
      <%= form.submit 'Add to Cart' %>
    </div>
  <% end %>
<% else %>

  <%= link_to "Sign In to add to cart", new_user_session_path, class: 'signing_for_adding_to_cart' %>

<% end %>