<div class="navbar">
  <div class="nav_link_wrapper">
    <%= link_to "Home", '/' %>
    <%= link_to "Category", category_path %>
    <%= link_to "About us", about_path %>
    <%= link_to "Contact", contact_path %>
    <% if @profile.present? && @profile.id.present? %>
      <%= link_to "My Profile", profile_path(@profile) %>
      <% elsif @user.present? %>
      <%= link_to "Add Profile", new_profile_path %>
     <% end %>

  </div>
</div>
