<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :buyer %>
    <%= form.number_field :buyer %>
  </div>

  <div class="field">
    <%= form.label :seller %>
    <%= form.number_field :seller %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :decimal %>
    <%= form.text_field :decimal %>
  </div>

  <div class="field">
    <%= form.label :fulfilled %>
    <%= form.check_box :fulfilled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
