<p id="notice"><%= notice %></p>

<div class="all_heading"><%= @order.buyer.profile.first_name %>'s Ordered Item</div>

<p>
  <strong>Buyer:</strong>
  <%= @order.buyer.profile.first_name.capitalize %>
</p>


<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Amount:</strong>
  AUD $<%= @order.amount %>
</p>


<p>
  <strong>Fulfilled:</strong>
  <%= @order.fulfilled %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
