<!--<p id="notice"><%#= notice %></p>-->

<div class="all_heading">My Cart</div>

<div class="cart_container">

  <table class="cart">
    <thead>
      <tr class="cart_body_rows" style="padding-bottom: 25px;">
        <th>Product</th>
        <th>Price</th>
<!--        <th colspan="2"></th>-->

      </tr>

    </thead>


      <tbody class="cart_body">
    <% @carts.each do |cart| %>
          <tr class="cart_body_rows">
            <td>
              <div class="cart_item_2">
              <div class="cart_item">
                <%= image_tag(cart.product.image, width: 80, height: 80) %>
              </div>
              <div class="cart_item">
                <%= cart.product.title.capitalize %>
                <div>
                  <%= link_to 'Remove Product', cart, method: :delete, data: { confirm: 'Are you sure?' }, :style=>'color: red;' %>
                </div>
              </div>
              </div>
            </td>
            <td> AUD $ <%= cart.product.price %></td>
          </tr>
    <% end %>
      </tbody>


  </table>
  <hr>

  <table class="cart" id="total">
    <tbody>
        <tr>
          <td>
            <div class="space"><%= link_to 'Continue Shopping', root_path, style: 'color: green; font-size: 15px; padding: 3px;' %></div>
          </td>
          <td>
            Total AUD $ <%= @carts.map(&:product).map(&:price).sum %><br />
            <div class="space"><%= link_to 'Checkout', root_path, style: 'color: white; background-color: RGB(68,124,241); border: 1px solid white; font-size: 13px; padding: 5px 10px;' %></div>
          </td>
        </tr>
    </tbody>
  </table>

</div>












<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Product</th>-->
<!--      <th>Price</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @carts.each do |cart| %>
<!--      <tr>-->
<!--        <td><%#= cart.product.title %></td>-->
<!--        <td><%#= cart.product.price %></td>-->
<!--        <td><%#= link_to 'Show', cart %></td>-->
<!--        <td><%#= link_to 'Edit', edit_cart_path(cart) %></td>-->
<!--        <td><%#= link_to 'Remove Product from cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<br>

<%#= link_to 'New Cart', new_cart_path %>
