<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>





  <div class="new_product_form">
    <div class="new_product_form_parts" id="part2">
      <div class="form_parts">
        <h4>Upload product image </h4>
        <%= form.file_field :image %>

      </div>
    </div>

    <div class="new_product_form_parts" id="part1">
      <div class="form_parts">
        <h3>Name of the product </h3>
        <%= form.text_field :title %>
      </div>

      <div class="form_parts">
        <h4>Category </h4>
        <%= form.select(:category, [['Flowers', 'flowers'], ['Fruits', 'fruits'], ['Vegetables', 'vegetables'], ['Seeds', 'seeds'], ['Seedlings', 'seedlings'], ['Small Plants', 'smallplants'], ['Indoor Plants', 'indoorplants'], ['Succulents', 'succulents'], ['Garden Tools', 'gardentools'], ['Terrariums', 'terrariums'], ['Compost', 'compost'], ['Mulching', 'mulching'], ['Helping hand', 'helpingHand']]) %>
      </div>
      <div class="form_parts">
        <h4>Add Price</h4>
        <%= form.number_field :price %>
      </div>
      <div class="form_parts">
        <h4>Describe the product</h4>
        <%= form.text_area :description %>
      </div>
        <%= form.submit %>
    </div>
  </div>




<% end %>
