
<%= render 'shared/banner' %>
<div class="each_product_show">
  <div class="each_product_show_box">
    <%= image_tag(@product.image, width: 400, height: 400) %>
  </div>
  <div class="each_product_show_box">
    <div class="each_product_show_box_parts">
      <% if @product.title.present? %>
        <h1><%= @product.title.capitalize %></h1>
     <% else %>
        <h1>Tile Required</h1>
      <% end %><br />
    </div>
    <div class="each_product_show_box_parts">
      <% if @product.category.present? %>
        <h3><%= @product.category.capitalize %></h3>
      <% else %>
        Category Required
      <% end %><br />
      <% if @product.price.present? %>
        <strong>AUD$</strong><%= @product.price %>
      <% else %>
        Price Required
      <% end %><br />
    </div>
    <div class="each_product_show_box_parts">
      <% if @product.description.present? %>
        <%= @product.description %>
      <% else %>
        Product Description Required
      <% end %><br />
    </div>

    <div class="each_product_show_box_parts">
      Seller name <%=  @product.seller.profile.first_name %>
      </div>

    <div class="each_product_show_box_parts">
     <% if current_user != @product.seller %>
      <% if current_user && @profile.present? && @profile.id.present? %>
        <%= form_with(model: @cart, local: true) do |form| %>

          <div class="actions">
            <%= form.submit 'Add to Cart' %>
          </div>
        <% end %>
      <% elsif current_user %>
        <%= link_to "Create profile to add to cart", new_profile_path, class: 'signing_for_adding_to_cart' %>
      <% else %>
        <%= link_to "Log in to add to cart", new_user_session_path, class: 'signing_for_adding_to_cart' %>
      <% end %>
     <% end %>
    </div>

  </div>


</div>




<!--<form action="/carts" accept-charset="UTF-8" method="post">-->

<!--  <div class="field">-->
<!--    <label for="cart_product_id">Product</label>-->
<!--    <input type="text" name="cart[product_id]" id="cart_product_id">-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <label for="cart_buyer_id">Buyer</label>-->
<!--    <input type="text" name="cart[buyer_id]" id="cart_buyer_id">-->
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <input type="submit" name="commit" value="Create Cart" data-disable-with="Create Cart">-->
<!--  </div>-->
<!--</form>-->



<p id="notice"><%= notice %></p>





<!--<div class="product_access_button">-->
<!--  <div class="one_button">-->
    <%#= link_to 'Edit Product', edit_product_path(product) %>
<!--  </div>-->
<!--  <div class="one_button">-->
    <%#= link_to 'Delete Product', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<!--  </div>-->
<!--</div>-->


