<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<%= image_tag(@product.image, width: 200) %>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>AUD$</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
<!--  <strong>Seller:</strong>-->
  <% @product.seller_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back to My Product', products_path %>
