<p id="notice"><%= notice %></p>



<%= image_tag(@product.image, width: 200, height: 200) %>
<%= @product.title %>
<%= @product.category %>
<strong>AUD$</strong><%= @product.price %>
<%= @product.description %>







<!--<div class="product_access_button">-->
<!--  <div class="one_button">-->
    <%#= link_to 'Edit Product', edit_product_path(product) %>
<!--  </div>-->
<!--  <div class="one_button">-->
    <%#= link_to 'Delete Product', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<!--  </div>-->
<!--</div>-->


