<!DOCTYPE html>
<html>
  <head>
    <title>Plantish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'logo.png', class: 'main_logo' %>
      <div class="sign_in_out">
       <% if current_user %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign_log' %>
       <% else %>

        <%= link_to "Sign Up / Log In", new_user_session_path, class: 'sign_log' %>
       <% end %>

      </div>

      <%= render 'shared/header' %>
    </header>


    </footer>





  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>

    <footer>
      <div class="socialmedia_link">
        <a href="https://www.facebook.com/PlantishGardenSellersMarket/" target="_blank">
          <%= image_tag 'socialmedia1.png', class: 'socialmedia_logo' %>
        </a>

        <a href="https://twitter.com/ismat_farjana" target="_blank">
          <%= image_tag 'socialmedia2.png', class: 'socialmedia_logo' %>
        </a>

        <a href="https://www.instagram.com/dipty_isabela/" target="_blank">
          <%= image_tag 'socialmedia3.png', class: 'socialmedia_logo' %>
        </a>

        <a href="https://www.redbubble.com/shop/ap/53319520?asc=u" target="_blank">
          <%= image_tag 'socialmedia4.png', class: 'socialmedia_logo' %>
        </a>

      </div>
      <div class="copyright">
        Copyright &copy; 2020 | Plantish Garden market Developed by SyedaIsmatFarjana | Melbourne, Australia |  All rights reserved
      </div>
  </body>
</html>
