<!DOCTYPE html>
<html>
  <head>
    <title>Plantish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'logo.png', class: 'main_logo' %>
      <%= link_to "Log In", new_user_session_path, class: 'log_sign' %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%= render 'shared/header' %>
    </header>



    <footer>
      <div class="socialmedia_link">
        <%= image_tag 'socialmedia1.png', class: 'socialmedia_logo' %>
        <%= image_tag 'socialmedia2.png', class: 'socialmedia_logo' %>
        <%= image_tag 'socialmedia3.png', class: 'socialmedia_logo' %>
      </div>
      <div class="copyright">
        Copyright &copy; 2020 | Plantish Garden market Developed by SyedaIsmatFarjana | Melbourne, Australia |  All rights reserved
      </div>
    </footer>



  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
